{% extends 'include.html' %}
{% block body %}




<hr>
<div class="bgded overlay" style="background-image:url('/staticc/images/demo/backgrounds/01.png');">
  <section class="hoc container clear">

    <div class="sectiontitle">
      <h1 style="font-size: 50px;">Download </h1>


    </div>
    <article id="points" class="group">
      <div class="two_third first">
        <h4>{{ url.title }}</h4>
        
        
        <form method="POST" action="{{ url_for('download_video') }}">

          <label>select download resolution</label>

          <select class="form-select" aria-label="Default select example">
            {% for i in url.streams.filter(progressive=True) %}
                <option value="{{ i.itag }}"> {{ i.resolution }} </option>
            {% endfor %}
            
          </select>
         
          <br>
        <br>
            <button class="btn btn-theme" style="font-size: 20px;" type="submit"> Download </button>
         
        </form>
        
        <br>
      </div>
      <div class="one_third last"><a class="imgover" href="#"><img src="{{url.thumbnail_url}}" alt=""></a>
      </div>
    </article>

  </section>
</div>

<!-- <div class="wrapper row2">
  <section class="hoc container clear">

    <div class="sectiontitle">

      <p class="nospace font-xs">Odio duis ut est quis nisl consequat</p>
      <h6 class="heading">Gravida donec non erat eget</h6>
    </div>
    <ul id="latest" class="nospace group sd-third">
      <li class="one_third first">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <ul class="nospace meta clear">
                <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                <li>
                  <time datetime="2045-04-06T08:15+00:00">06 Apr 2045</time>
                </li>
              </ul>
              <h6 class="heading"><a href="#">Elit pellentesque dapibus</a></h6>
            </figcaption>
          </figure>
          <p>Justo massa adipiscing a convallis ultricies luctus et dolor aliquam nulla aenean facilisis ullamcorper
            diam nunc pede nulla iaculis quis lacinia ac adipiscing.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <ul class="nospace meta clear">
                <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                <li>
                  <time datetime="2045-04-05T08:15+00:00">05 Apr 2045</time>
                </li>
              </ul>
              <h6 class="heading"><a href="#">Quis ligula morbi quam</a></h6>
            </figcaption>
          </figure>
          <p>Semper mattis nulla cursus lorem ut gravida tempor massa massa porta libero at scelerisque et arcu nulla
            facilisi aenean fringilla imperdiet felis mauris.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <ul class="nospace meta clear">
                <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                <li>
                  <time datetime="2045-04-04T08:15+00:00">04 Apr 2045</time>
                </li>
              </ul>
              <h6 class="heading"><a href="#">Hendrerit ligula eu diam</a></h6>
            </figcaption>
          </figure>
          <p>Ac lectus sed ultricies augue congue nibh donec convallis elementum leo nullam dignissim varius ante fusce
            pharetra sodales arcu sed rutrum ipsum a ipsum.</p>
        </article>
      </li>
    </ul>

  </section>
</div> -->

<div class="wrapper row4">
  {% endblock body %}