{% extends 'include.html' %}
{% block body %}

 
</div>
<hr>

<div class="bgded overlay" style="background-image:url('/staticc/images/demo/backgrounds/01.png');">
  <section class="hoc container clear"> 
    
    <div class="sectiontitle">
      <h1 style="font-size: 50px;">Error </h1>
    
      
    </div>
    <article id="points" class="group">
      
        <h6 class="heading">Something went wrong...</h6>
        
     
      
    </article>

  </section>
</div>



<div class="wrapper row4">
  {% endblock body %}